---
Checks: >
  readability-*,
  modernize-*,
  performance-*,
  portability-*,
  cppcoreguidelines-*,
  bugprone-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-vararg

HeaderFilterRegex: '.*/joon/(include|src)/.*\.h$'
WarningsAsErrors: ''
FormatStyle: LLVM
UseColor: true
